{% extends 'layout.html '%}
{% block content %}

<h2> Web Blogging </h2>
<p>Being a Python Enthusiast, have built this "<a href="/">Web Blogging</a>" Project to demostrate my Web Development expertise
using Flask (Python-Based Web Framework).

This project aims to explain the usage of open-source technologies and how these technologies interact between each other.
Further I have listed all the technologies I have used and mentioned a short description for each.
</p>

<hr/>
<h2>Technology Stack</h2>

<h5> 1. Backend </h5>

<p><h6> <a href="https://flask.palletsprojects.com/en/1.1.x/"> Flask </a></h6>
Flask is a high-level Python Web framework. I have chosen it, because it is Python based, you can write fast, you don’t have to repeat yourself and it has a really good documentation.
</p>

<h5> 2. Graphical User Interface</h5>

<p><h6> <a href="http://getbootstrap.com/"> Twitter Bootstrap </a></h6>

Bootstrap is sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
It is purely written in HTML5/CSS3. This framework is the most popular project at Github at the moment.
Nowadays a lot of web pages looks very similar, because of Bootstrap popularity.
</p>

<p><h6> <a href="http://jquery.com/"> JQuery </a></h6>

JQuery is a fast, small, and feature-rich JavaScript library. This is a dependency for Twitter Bootstrap.
</p>

<h5> 3. Authentication </h5>

<p><h6> <a href="https://flask-login.readthedocs.io/en/latest/"> Flask-Login </a></h6>

Flask-Login provides user session management for Flask. It handles the common tasks of logging in, logging out, and remembering your users’ sessions over extended periods of time.
The most important part of an application that uses Flask-Login is the LoginManager which handles task like loading of User and where to send users once they log in.
</p>


<h5> 4. Database </h5>

<p><h6> <a href="https://www.sqlite.org/about.html"> SQLite </a></h6>

SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. It is very easy to use for development purpose.It works very good, when you have to develop in a team.

Additionally the SQLAlchemy ORM (Object Relational Mapper) library facilitates communication with database engines and provides python-based SQL expressions for database manupilation tasks.
</p>


<h5> 5. Content Rendering </h5>

<p><h6> <a href="https://jinja.palletsprojects.com/en/2.11.x/"> Jinja2 </a></h6>

Flask uses the Jinja2 templating engine to render the HTML content via the HTTPs response.

<hr/>


{% endblock content %}